* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Inconsolata', sans-serif;
  background-color: #1d1f20;
  color: #666;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  position: relative;
  line-height: 1.3;
}

p {
  padding-top: 15px;
}

a.btn {
  display: inline-block;
  margin-top: 25px;
  border: 1px solid #00c1bb;
  color: #00c1bb;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

a.btn span {
  display: inline-block;
  padding: 6px 40px;
  transition: transform 0.4s;
}

a.btn .row2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
}

a.btn:hover .row1 {
  transform: translateY(-100%);
}

a.btn:hover .row2 {
  transform: translateY(0);
}

.container {
  margin: 0 auto;
  padding-left: 6%;
  padding-right: 6%;
  max-width: 1400px;
  clear: both;
}

.container:after {
  content: ' ';
  display: block;
  clear: both;
}

.container--circles {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fullscreen {
  display: table;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 100;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.text {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.scroll {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.circle {
  width: 31.333333%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  float: left;
  position: relative;
  font-size: 250%;
}

.enhanced .circle {
  transition: transform 600ms cubic-bezier(0.8, 0, 0, 0.8);
  transform: scale(0.3);
}

.circle.revealed {
  transform: scale(1);
}

.circle:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.circle.c1 {
  background-color: #ed194b;
}

.circle.c2 {
  background-color: #f37c78;
  transition-delay: 0.1s;
}

.circle.c3 {
  background-color: #f8a19a;
  transition-delay: 0.1s;
}

.circle.c4 {
  background-color: #f7921e;
}

.circle.c5 {
  background-color: #faac57;
  transition-delay: 0.1s;
}

.circle.c6 {
  background-color: #fdc78b;
  transition-delay: 0.2s;
}

.circle.c7 {
  background-color: #ffd401;
}

.circle.c8 {
  background-color: #ffe500;
  transition-delay: 0.1s;
}

.circle.c9 {
  background-color: #fef46e;
  transition-delay: 0.2s;
}

.circle.c10 {
  background-color: #a6ce3a;
}

.circle.c11 {
  background-color: #bed82f;
  transition-delay: 0.1s;
}

.circle.c12 {
  background-color: #d6e167;
  transition-delay: 0.2s;
}

.circle.c13 {
  background-color: #00bbbd;
}

.circle.c14 {
  background-color: #72cbcf;
  transition-delay: 0.1s;
}

.circle.c15 {
  background-color: #9bd8d9;
  transition-delay: 0.2s;
}

.circle.c16 {
  background-color: #016bb5;
}

.circle.c17 {
  background-color: #628ac8;
  transition-delay: 0.1s;
}

.circle.c18 {
  background-color: #8aa4d5;
  transition-delay: 0.2s;
}

.circle.c19 {
  background-color: #af72ae;
}

.circle.c20 {
  background-color: #c196c4;
  transition-delay: 0.1s;
}

.circle.c21 {
  background-color: #d0b1d3;
  transition-delay: 0.2s;
}

.circle.c22 {
  background-color: #ba3599;
}

.circle.c23 {
  background-color: #d468b9;
  transition-delay: 0.1s;
}

.circle.c24 {
  background-color: #eda4db;
  transition-delay: 0.2s;
}

.circle__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-52%);
  color: #1d1f20;
  line-height: 1;
}